* {
    padding: 0;
    margin: 0;
}

body {

    background-image: url('https://user-images.githubusercontent.com/39142850/67110554-fdea5400-f20d-11e9-834a-d459a612b7b1.gif');
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: scroll;

}

header {
    text-align: center;
}

h1 {
    font-size: 100px;
    color: rgb(238, 172, 86);
    -webkit-text-stroke: 2px black;
}

h3 {
    color: whitesmoke;
    font-size: 40px;
    stroke: #312456;
    -webkit-text-stroke: 2px black;

}

section {
    text-align: center;
}

#search {

    border: 8px solid rgb(81, 80, 80);
    height: 80px;
    width: 480px;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #59b4c4;
    font-size: 24px;
    margin-top: 32px;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.search-button {
    height: 80px;
    width: 240px;
    font-size: 32px;
    font-weight: 560;

    border-radius: 4px;
    color: white;
    background-color: #312456;
    margin-top: 32px;

}